:root {
	--bg-transition-speed: 150ms;

	--bg: #282828;
	--bg1: #3c3836;
	--bg2: #504945;
	--bg3: #665c54;
	--fg: #ebdbb2;
	--shadow: #92837455;
	--border: #92837488;
	--red: #fb4934;
	--orange: #fe8019;
	--green: #b8bb26;
	--yellow: #fabd2f;
	--blue: #83a598;
	--purple: #d3869b;
	--aqua: #83c07c;
}

.theme-catppuccin {
	--bg: #1e1e2e;
	--bg1: #313244;
	--bg2: #45475a;
	--bg3: #585b70;
	--fg: #cdd6f4;
	--shadow: #7f849c55;
	--border: #7f849c88;
	--red: #f38ba8;
	--orange: #fab387;
	--green: #a6e3a1;
	--yellow: #f9e2af;
	--blue: #89b4fa;
	--purple: #cba6f7;
	--aqua: #94e2d5;
}

.theme-gruvbox {
	--bg: #282828;
	--bg1: #3c3836;
	--bg2: #504945;
	--bg3: #665c54;
	--fg: #ebdbb2;
	--shadow: #92837455;
	--border: #92837488;
	--red: #fb4934;
	--orange: #fe8019;
	--green: #b8bb26;
	--yellow: #fabd2f;
	--blue: #83a598;
	--purple: #d3869b;
	--aqua: #83c07c;
}

html {
	scroll-behavior: smooth;
	font-size: 16px;
}

body {
	font-family: "Fira Code";
	color: var(--fg);

	margin: auto;
	width: auto;

	background-color: var(--bg);
	transition: background-color var(--bg-transition-speed) ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Inconsolata";
}

button,
input,
select {
	text-align: center;
	font-size: inherit;
	font-family: "Fira Code";
}

button,
input {
	padding: 0.75em 1.5em;
}

select {
	padding: 0.5em 1em;
	appearance: none;
}

select:focus {
	outline: none;
}

button:hover {
	cursor: pointer;
}

.glow-interactive {
	background-color: var(--bg1);
	color: var(--fg);
	display: inline-block;
	border: 1px solid var(--border);
	border-radius: 0.5em;
	box-shadow: 0 0 2px 1px var(--shadow);
	transition: background-color var(--bg-transition-speed) ease, box-shadow var(--bg-transition-speed);
}

.glow-interactive:hover {
	background-color: var(--bg2);
	box-shadow: 0 0 3px 2px var(--shadow);
	transition: background-color 50ms, box-shadow 50ms;
}

button.glow-interactive:active {
	background-color: var(--bg3);
}

input.glow-interactive:focus {
	background-color: var(--bg3);
	box-shadow: 0 0 3px 2px var(--shadow);
	outline: none;
}

.glow-text {
	text-shadow: 0 0 0.075em var(--shadow);
}

.glow-border {
	box-shadow: 0 0 5px 2px var(--shadow);
}

.hero-section {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 100vh;
	border-bottom: 1px solid var(--border);
	box-shadow: 0 0 15px var(--shadow);

	background-color: var(--bg);
	transition: background-color var(--bg-transition-speed) ease;
}

.hero-section::before {
	content: "";
	position: absolute;
	inset: 0;
	background: linear-gradient(to bottom, transparent 85%, var(--bg1));
	pointer-events: none;
}

.hero-section h1 {
	font-size: 6rem;
	margin: 0;
}

.hero-section h2 {
	font-family: "Fira Code";
	font-weight: 300;
	margin-bottom: 2.5em;
	position: relative;
	width: max-content;
}

/* Typing animation */
.typing-animation {
	--typing-time: 3s;
	--char-count: 32;
	--blink-speed: 850ms;
	--blinks-before-start: 1;
	--blinks-after-end: 5;
	--typing-wait: calc(var(--blinks-before-start) * var(--blink-speed) + var(--blink-speed) / 4);

	position: relative;
	width: max-content;
}

.typing-animation::before,
.typing-animation::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: background-color var(--bg-transition-speed) ease;
}

/* "Hides" the text behind */
.typing-animation::before {
	background: var(--bg);
	animation:
		typing var(--typing-time) steps(var(--char-count)) var(--typing-wait) forwards;
}

/* Caret */
.typing-animation::after {
	width: 0.125em;
	background: var(--fg);
	animation:
		typing var(--typing-time) steps(var(--char-count)) var(--typing-wait) forwards,
		blinking var(--blink-speed) 0s var(--blinks-before-start),
		blinking var(--blink-speed) calc(var(--typing-wait) + var(--typing-time)) var(--blinks-after-end) forwards;
}

@keyframes typing {
	to {
		left: 100%;
	}
}

@keyframes blinking {

	0%,
	50% {
		opacity: 1;
	}

	51%,
	100% {
		opacity: 0;
	}
}

/* End of typing animation */

.hero-section h2 span {
	color: var(--blue);
	font-weight: 450;
}

.hero-section form {
	display: flex;
	flex-direction: column;
	gap: 1em;
	font-size: 1.15rem;
}

#handle-input {
	padding: 0.65em 1.3em;
	text-align: center;
}

div.theme-select {
	position: fixed;
	top: 1em;
	right: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5em;
}

main {
	margin: 3rem auto;
	width: 90%;
}

main h1 {
	text-align: center;
	font-size: 3.5rem;
}

.user-info-grid {
	display: grid;
	margin-top: 1.5rem;
	gap: 1rem;
	align-items: stretch;
	justify-items: stretch;

	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 22.5vw 22.5vw;
	grid-template-areas:
		"user-info solved-ratings solved-ratings solved-tags"
		"rating-history rating-history rating-history .";
}

@media (max-aspect-ratio: 8/5) or (max-width: 1000px) {
	.user-info-grid {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 30vw 30vw 30vw;
		grid-template-areas:
			"user-info solved-ratings solved-ratings"
			"rating-history rating-history solved-tags";
	}
}

@media (max-aspect-ratio: 6/5) {
	.hero-section h1 {
		font-size: 4.75rem;
	}

	.user-info-grid {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 50vh 50vh 50vh;
		grid-template-areas:
			"user-info solved-tags"
			"solved-ratings solved-ratings"
			"rating-history rating-history";
	}
}

@media (max-aspect-ratio: 4/5) {
	html {
		font-size: 18px;
	}

	.hero-section {
		align-items: start;
		justify-content: start;
		width: 100vw;
		height: 100vh;
	}

	.hero-section h1 {
		font-size: 17vw;
		margin-top: 10vh;
		margin-left: 3vh;
	}

	.hero-section h2 {
		font-size: 4.5vw;
		margin: 4vh auto;
	}

	.hero-section form {
		margin: 2vh auto;
		font-size: min(5vw, 3vh);
	}
}

.user-info-item {
	--card-border-radius: 0.8em;

	display: flex;
	flex-direction: column;

	border: 1.5px solid var(--border);
	border-radius: var(--card-border-radius);
}

.chart-container {
	position: relative;
	flex: 1;
	min-height: 0;
	max-width: 100%;
	max-height: 100%;
}

.chart-container canvas {
	max-width: 100%;
	max-height: 100%;
	display: block;
}

.user-info-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1.5em 1.5em 0 1.5em;
	font-size: 0.9rem;
}

.user-info-header h2 {
	margin: 0;
	font-size: 1.5rem;
}

.user-stats {
	margin: 0;
	padding-left: 15px;
}

#user-title-photo {
	border: 1px solid var(--border);
	border-radius: 8px;
	width: 150px;
	height: auto;
	box-shadow: 0 0 3px 2px var(--shadow);
}

.user-info-content {
	position: relative;
	display: flex;
	min-height: 0;
	flex: 1;
	flex-direction: column;
	padding: 1.5em 1.25em 1.5em 1.5em;
	margin-top: 0.25em;
}

.loader,
.loader-small {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--bg);
	border-radius: var(--card-border-radius);

	display: flex;
	align-items: center;
	justify-content: center;
}

.loader::after,
.loader-small::after {
	content: "";
	border-radius: 50%;
	animation: spin 1s ease infinite;
}

.loader::after {
	width: 5rem;
	height: 5rem;
	border: 5px solid var(--bg2);
	border-top-color: var(--fg);
}

.loader-small::after {
	width: 1.5rem;
	height: 1.5rem;
	border: 3px solid var(--bg2);
	border-top-color: var(--fg);
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

#performance-loader {
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

#performance-loader p {
	margin: 0;
	font-size: 14px;
}

#performance-loader div {
	position: relative;
}
