:root {
	--bg: #282828;
	--bg1: #3c3836;
	--bg2: #504945;
	--bg3: #665c54;
	--fg: #ebdbb2;
	--shadow: #92837455;
	--red: #fb4934;
	--orange: #fe8019;
	--green: #b8bb26;
	--yellow: #fabd2f;
	--blue: #83a598;
	--purple: #d3869b;
	--aqua: #83c07c;
	--gray-dark: #928374;
	--blue-dark: #458588;
	--green-dark: #98971a;
}

body {
	font-family: "Fira Code";
	color: var(--fg);

	margin: auto;
	width: auto;

	background-color: var(--bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Inconsolata";
}

main {
	margin: auto;
	width: 90%;
}

button {
	background-color: var(--bg1);
	color: var(--fg);
	padding: 0.75em 1.5em;
	display: inline-block;
	border: 1px solid var(--gray-dark);
	border-radius: 0.5em;
	box-shadow: 0 0 2px 1px var(--shadow);

	text-align: center;
	font-size: 14px;

	transition-duration: 50ms;
}

button:hover {
	background-color: var(--bg2);
	box-shadow: 0 0 3px 2px var(--shadow);
}

button:active {
	background-color: var(--bg3);
}

.hero-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.hero-section h1 {
	font-size: 80px;
}

.hero-section h2 {
	font-family: "Fira Code";
	font-weight: 300;
}

.hero-section form {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.hero-section button {
	font-size: 18px;
	font-family: "Fira Code";
}

.user-info-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 400px 400px;
	gap: 15px;
	grid-template-areas:
		"user-info solved-ratings solved-ratings";

	margin-top: 20px;
	align-items: stretch;
	justify-items: stretch;
}

.user-info-item {
	padding: 25px;

	border: 1.5px solid var(--gray-dark);
	border-radius: 10px;
	box-shadow: 0 0 5px 2px var(--shadow);
	display: flex;
	flex-direction: column;
}

.user-info-item h2 {
	margin: 0;
}

.chart-container {
	position: relative;
	flex: 1;
}

.user-info-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1em;
}

.user-stats {
	margin: 0;
	padding-left: 15px;
}

#handle-input {
	padding: 0.65em 1.3em;
	background-color: var(--bg1);
	border: 1px solid var(--gray-dark);
	border-radius: 0.5em;
	display: inline-block;
	box-shadow: 0 0 2px 0.5px var(--shadow);

	color: var(--fg);
	font-size: 18px;
	font-family: "Fira Code";
	text-align: center;

	transition-duration: 100ms;
}

#handle-input:hover {
	background-color: var(--bg2);
	box-shadow: 0 0 3px 0.5px var(--shadow);
}

#handle-input:focus {
	background-color: var(--bg3);
	box-shadow: 0 0 3px 1px var(--shadow);
	outline: none;
}

#user-title-photo {
	border: 1px solid var(--gray-dark);
	border-radius: 8px;
	width: 150px;
	height: auto;
	box-shadow: 0 0 3px 2px var(--shadow);
}
