.loader,
.loader-small {
	--size-increase: 2%;

	position: absolute;
	width: calc(100% + var(--size-increase));
	height: calc(100% + var(--size-increase));
	top: calc(var(--size-increase) / -2);
	left: calc(var(--size-increase) / -2);
	background-color: var(--bg);
	border-radius: var(--card-border-radius);

	display: flex;
	align-items: center;
	justify-content: center;
}

.loader::after,
.loader-small::after {
	content: "";
	border-radius: 50%;
	animation: spin 1s ease infinite;
}

.loader::after {
	width: 5rem;
	height: 5rem;
	border: 5px solid var(--bg2);
	border-top-color: var(--fg);
}

.loader-small::after {
	width: 1.5rem;
	height: 1.5rem;
	border: 3px solid var(--bg2);
	border-top-color: var(--fg);
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

#performance-loader {
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

#performance-loader p {
	margin: 0;
	font-size: 14px;
}

#performance-loader div {
	position: relative;
}
