#nav-menu {
	--nav-padding: 2em;

	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	z-index: 5;

	width: 100vw;
	height: 1em;
	padding: var(--nav-padding);

	font-size: 1.1rem;
}

#nav-menu nav {
	display: flex;
	flex-direction: row;
	font-size: 1.35em;
	gap: 1em;
}

#nav-menu nav a {
	text-decoration: none;
	color: var(--fg);
	box-sizing: border-box;
	position: relative;
}

#nav-menu nav a::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -75%;
	width: 100%;
	height: 1px;
	background-color: var(--fg);

	transform: translateX(-50%) scaleX(0);
	transform-origin: center;
	transition: transform 150ms ease;
}

#nav-menu nav a:hover::after {
	transform: translateX(-50%) scaleX(1);
}

#high-contrast-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1em;
	margin-bottom: 2em;
}

#high-contrast-container .switch {
	font-size: 0.9em;
}

.theme-select {
	font-size: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.75em;
	text-align: center;
}

@media (max-aspect-ratio: 4/5) {
	#nav-menu {
		display: none;
	}
}
