.theme-catppuccin {
	--bg: #1e1e2e;
	--bg1: #313244;
	--bg2: #45475a;
	--bg3: #585b70;
	--bg-dark: #181825;
	--bg-shadow: #11111b;
	--fg: #cdd6f4;
	--glow: #7f849c55;
	--border: #7f849c88;
	--red: #f38ba8;
	--orange: #fab387;
	--green: #a6e3a1;
	--yellow: #f9e2af;
	--blue: #89b4fa;
	--purple: #cba6f7;
	--aqua: #94e2d5;
}

.theme-gruvbox {
	--bg: #282828;
	--bg1: #3c3836;
	--bg2: #504945;
	--bg3: #665c54;
	--bg-dark: #1d2021;
	--bg-shadow: #161819;
	--fg: #ebdbb2;
	--glow: #92837455;
	--border: #92837488;
	--red: #fb4934;
	--orange: #fe8019;
	--green: #b8bb26;
	--yellow: #fabd2f;
	--blue: #83a598;
	--purple: #d3869b;
	--aqua: #83c07c;
}

.theme-high-contrast {
	--bg: #080808;
	--bg1: #101010;
	--bg2: #2f2f2f;
	--bg3: #3f3f3f;
	--bg-dark: #040404;
	--bg-shadow: #000000;
	--fg: #ffffff;
	--glow: #ffffff00;
	--border: #aaaaaa88;
	--red: #ff2f2f;
	--orange: #ffa340;
	--green: #4fff4f;
	--yellow: #ffff3a;
	--blue: #70a0ff;
	--purple: #df86ff;
	--aqua: #54f2c5;
}
