:root {
	--bg-transition-speed: 150ms;
	--cursor-x: 50vw;
	--cursor-y: 50vh;

	--bg: #282828;
	--bg1: #3c3836;
	--bg2: #504945;
	--bg3: #665c54;
	--fg: #ebdbb2;
	--glow: #92837455;
	--border: #92837488;
	--red: #fb4934;
	--orange: #fe8019;
	--green: #b8bb26;
	--yellow: #fabd2f;
	--blue: #83a598;
	--purple: #d3869b;
	--aqua: #83c07c;

	--shadow1:
		inset 0 2px 4px var(--bg2),
		0 4px 3px var(--bg-shadow);
}

.theme-catppuccin {
	--bg: #1e1e2e;
	--bg1: #313244;
	--bg2: #45475a;
	--bg3: #585b70;
	--bg-dark: #181825;
	--bg-shadow: #11111b;
	--fg: #cdd6f4;
	--glow: #7f849c55;
	--border: #7f849c88;
	--red: #f38ba8;
	--orange: #fab387;
	--green: #a6e3a1;
	--yellow: #f9e2af;
	--blue: #89b4fa;
	--purple: #cba6f7;
	--aqua: #94e2d5;
}

.theme-gruvbox {
	--bg: #282828;
	--bg1: #3c3836;
	--bg2: #504945;
	--bg3: #665c54;
	--bg-dark: #1d2021;
	--bg-shadow: #161819;
	--fg: #ebdbb2;
	--glow: #92837455;
	--border: #92837488;
	--red: #fb4934;
	--orange: #fe8019;
	--green: #b8bb26;
	--yellow: #fabd2f;
	--blue: #83a598;
	--purple: #d3869b;
	--aqua: #83c07c;
}

html {
	scroll-behavior: smooth;
	font-size: 16px;
}

body {
	font-family: "Fira Code";
	color: var(--fg);

	margin: auto;
	width: auto;

	background-color: var(--bg);
	transition: background-color var(--bg-transition-speed) ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Inconsolata";
}

button,
input,
select {
	text-align: center;
	font-size: inherit;
	font-family: "Fira Code";
}

button,
input {
	padding: 0.75em 1.5em;
}

select {
	padding: 0.5em 1em;
	appearance: none;
}

select:focus {
	outline: none;
}

button:hover {
	cursor: pointer;
}

.red-text {
	color: var(--red);
}

.orange-text {
	color: var(--orange);
}

.yellow-text {
	color: var(--yellow);
}

.green-text {
	color: var(--green);
}

.aqua-text {
	color: var(--aqua);
}

.blue-text {
	color: var(--blue);
}

.purple-text {
	color: var(--purple);
}

.weight-450 {
	font-weight: 450;
}

.glow-interactive {
	background-color: var(--bg1);
	color: var(--fg);
	display: inline-block;
	border: 1px solid var(--border);
	border-radius: 0.5em;
	box-shadow: 0 0 2px 1px var(--glow);
	transition: background-color var(--bg-transition-speed) ease, box-shadow var(--bg-transition-speed);
}

.glow-interactive:hover {
	background-color: var(--bg2);
	box-shadow: 0 0 3px 2px var(--glow);
	transition: background-color 50ms, box-shadow 50ms;
}

button.glow-interactive:active {
	background-color: var(--bg3);
}

input.glow-interactive:focus {
	background-color: var(--bg3);
	box-shadow: 0 0 3px 2px var(--glow);
	outline: none;
}

.glow-text {
	text-shadow: 0 0 0.1em var(--glow);
}

.glow-pulse {
	animation: glow-pulse 1s infinite alternate;
}

@keyframes glow-pulse {
	0% {
		text-shadow: 0 0 0.15em var(--glow), 0 0 0.075em var(--glow);
	}

	100% {
		text-shadow: 0 0 0.5em var(--glow), 0 0 0.25em var(--glow), 0 0 0.15em var(--glow);
	}
}

.hero-section {
	position: relative;
	display: flex;
	flex-direction: row;
	z-index: 0;

	height: 100vh;
	border-bottom: 1px solid var(--border);

	background-color: var(--bg-dark);
	transition: background-color var(--bg-transition-speed) ease;
}

.hero-section::after {
	content: "";
	position: absolute;
	inset: 0;
	background: linear-gradient(to bottom, transparent 85%, var(--bg1));
	pointer-events: none;
}

.hero-main {
	display: flex;
	flex-direction: column;
	margin: 5rem 0 0 7rem;
	font-size: clamp(20px, 1.1vw, 24px);
	width: 32em;
}

.hero-main h1 {
	font-size: 6em;
	margin: 0;
	text-align: left;
}

.hero-main p {
	font-size: 1em;
	margin-top: 1em;
}

.hero-main h2 {
	font-family: "Fira Code";
	font-weight: 300;
	font-size: 1.3em;
	margin: 2em 0 1em 0;
	position: relative;
	width: max-content;
}

.user-form-container {
	display: flex;
	width: fit-content;
	flex-direction: column;
	align-items: center;
}

#user-form {
	display: flex;
	flex-direction: row;
	font-size: 1em;
	gap: 0.5em;
}

.grid-bg {
	--grid-grap: 60px;
	--dot-size: 2px;
	--line-thickness: 1px;

	position: absolute;
	inset: 0;
	background-size: var(--grid-grap) var(--grid-grap);
	background-image: radial-gradient(circle, var(--bg3) var(--dot-size), transparent var(--dot-size));
	background-attachment: fixed;
	background-position: 0 0;
	mask-image: radial-gradient(circle 200px at var(--cursor-x) var(--cursor-y),
			rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.2) 100%);
	will-change: mask-image;
	z-index: -1;
}

.grid-bg::before {
	content: "";
	position: absolute;
	inset: 0;
	background-size: var(--grid-grap) var(--grid-grap);
	background-image:
		linear-gradient(to right, var(--bg3) var(--line-thickness), transparent var(--line-thickness)),
		linear-gradient(to bottom, var(--bg3) var(--line-thickness), transparent var(--line-thickness));
	background-attachment: fixed;
	--background-offset: calc(var(--grid-grap) / 2 - var(--line-thickness) / 2);
	background-position: var(--background-offset) var(--background-offset);
	mask-image: radial-gradient(circle 150px at var(--cursor-x) var(--cursor-y),
			rgba(255, 255, 255, 0.3) 0%, transparent 100%);
	will-change: mask-image;
}

/* Typing animation */
.typing-animation {
	--typing-time: 3s;
	--char-count: 36;
	--blink-speed: 850ms;
	--blinks-before-start: 1;
	--blinks-after-end: 5;
	--typing-wait: calc(var(--blinks-before-start) * var(--blink-speed) + var(--blink-speed) / 4);

	position: relative;
	width: max-content;
}

.typing-animation::before,
.typing-animation::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: background-color var(--bg-transition-speed) ease;
}

/* "Hides" the text behind */
.typing-animation::before {
	background: var(--bg);
	animation:
		typing var(--typing-time) steps(var(--char-count)) var(--typing-wait) forwards;
}

/* Caret */
.typing-animation::after {
	width: 0.125em;
	background: var(--fg);
	animation:
		typing var(--typing-time) steps(var(--char-count)) var(--typing-wait) forwards,
		blinking var(--blink-speed) 0s var(--blinks-before-start),
		blinking var(--blink-speed) calc(var(--typing-wait) + var(--typing-time)) var(--blinks-after-end) forwards;
}

@keyframes typing {
	to {
		left: 100%;
	}
}

@keyframes blinking {

	0%,
	50% {
		opacity: 1;
	}

	51%,
	100% {
		opacity: 0;
	}
}

/* End of typing animation */

/* Hero graph animation */
.hero-graph-container {
	--graph-anim-delay: 250ms;

	position: fixed;
	pointer-events: none;
	z-index: -1;
	right: 0;
	bottom: 0;
	width: 65vw;
	min-width: 1000px;
}

.hero-graph-container svg {
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
}

.hero-graph-container svg circle {
	fill: var(--bg3);
	opacity: 0;
	animation: show-circle 200ms ease-out forwards;
}

.hero-graph-container svg circle[data-index="0"] {
	animation-delay: calc(var(--graph-anim-delay) + 0.3s);
}

.hero-graph-container svg circle[data-index="1"] {
	animation-delay: calc(var(--graph-anim-delay) + 0.4s);
}

.hero-graph-container svg circle[data-index="2"] {
	animation-delay: calc(var(--graph-anim-delay) + 0.75s);
}

.hero-graph-container svg circle[data-index="3"] {
	animation-delay: calc(var(--graph-anim-delay) + 0.85s);
}

.hero-graph-container svg circle[data-index="4"] {
	animation-delay: calc(var(--graph-anim-delay) + 1.25s);
}

@keyframes show-circle {
	to {
		opacity: 1;
	}
}

.animated-line {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	stroke: var(--bg3);
	stroke-width: 2.5;
	animation: draw-line 2.25s var(--graph-anim-delay) linear forwards;
}

@keyframes draw-line {
	to {
		stroke-dashoffset: 0;
	}
}

.hero-shadow {
	position: absolute;
	z-index: 1;
	inset: 0;
	box-shadow: 0 0 15px var(--glow);
	pointer-events: none;
}

div.theme-select {
	position: fixed;
	top: 1em;
	right: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5em;
}

.main-wrapper {
	width: 100%;
	background-color: var(--bg-dark);
	padding: 3rem 0;
	position: relative;
	z-index: 0;
	transition-duration: var(--bg-transition-speed);
}

main {
	margin: 0 auto;
	width: 90%;
}

main h1 {
	text-align: center;
	font-size: 3.5rem;
}

.user-info-grid {
	display: grid;
	margin-top: 1.5rem;
	gap: 1rem;
	align-items: stretch;
	justify-items: stretch;

	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 25vw 25vw;
	grid-template-areas: "user-info solved-ratings solved-ratings solved-tags"
		"rating-history rating-history rating-history .";
}

@media (max-aspect-ratio: 8/5) or (max-width: 1000px) {
	.user-info-grid {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 32.5vw 32.5vw 32.5vw;
		grid-template-areas: "user-info solved-ratings solved-ratings"
			"rating-history rating-history solved-tags";
	}
}

@media (max-aspect-ratio: 6/5) {
	.user-info-grid {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 50vh 50vh 50vh;
		grid-template-areas: "user-info solved-tags"
			"solved-ratings solved-ratings"
			"rating-history rating-history";
	}
}

@media (max-aspect-ratio: 4/5) {
	html {
		font-size: 18px;
	}

	.hero-section {
		flex-direction: column;
		align-items: center;
		justify-content: start;
		width: 100vw;
		height: 100vh;
	}

	.hero-main {
		align-items: center;
		margin: 5em 0 0 0;
		width: 90vw;
		font-size: clamp(24px, 1.5vh, 32px)
	}

	.hero-main h1 {
		font-size: 5em;
		text-align: center;
	}

	.hero-main p {
		font-size: 1em;
		text-align: center;
	}

	.hero-main h2 {
		font-size: 1.25em;
		text-align: center;
		margin: 2em 0 1.5em 0;
	}

	#user-form {
		font-size: 1.25em;
	}

	#user-form button {
		display: none;
	}

	.hero-graph-container {
		display: none;
	}
}

.user-info-item {
	--card-border-radius: 0.8em;

	display: flex;
	flex-direction: column;

	/*border: 1.5px solid var(--border);*/
	border-radius: var(--card-border-radius);
	box-shadow: var(--shadow1);
	background-color: var(--bg);
}

.chart-container {
	position: relative;
	flex: 1;
	min-height: 0;
	max-width: 100%;
	max-height: 100%;
}

.chart-container canvas {
	max-width: 100%;
	max-height: 100%;
	display: block;
}

.user-info-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1.5em 1.5em 0 1.5em;
	font-size: 0.9rem;
}

.user-info-header h2 {
	margin: 0;
	font-size: 1.5rem;
}

.user-stats {
	margin: 0;
	padding-left: 15px;
}

#user-title-photo {
	border: 1px solid var(--border);
	border-radius: 8px;
	width: 150px;
	height: auto;
	box-shadow: 0 0 3px 2px var(--glow);
}

.user-info-content {
	position: relative;
	display: flex;
	min-height: 0;
	flex: 1;
	flex-direction: column;
	padding: 1.5em 1.25em 1.5em 1.5em;
	margin-top: 0.25em;
}

.loader,
.loader-small {
	position: absolute;
	bottom: 2.5%;
	left: 2.5%;
	width: 95%;
	height: 95%;
	background-color: var(--bg);
	border-radius: var(--card-border-radius);

	display: flex;
	align-items: center;
	justify-content: center;
}

.loader::after,
.loader-small::after {
	content: "";
	border-radius: 50%;
	animation: spin 1s ease infinite;
}

.loader::after {
	width: 5rem;
	height: 5rem;
	border: 5px solid var(--bg2);
	border-top-color: var(--fg);
}

.loader-small::after {
	width: 1.5rem;
	height: 1.5rem;
	border: 3px solid var(--bg2);
	border-top-color: var(--fg);
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

#performance-loader {
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

#performance-loader p {
	margin: 0;
	font-size: 14px;
}

#performance-loader div {
	position: relative;
}
