:root {
	--bg-transition-speed: 150ms;
	--cursor-x: -100px;
	--cursor-y: -100px;

	--bg: #1e1e2e;
	--bg1: #313244;
	--bg2: #45475a;
	--bg3: #585b70;
	--bg-dark: #181825;
	--bg-shadow: #11111b;
	--fg: #cdd6f4;
	--glow: #7f849c55;
	--border: #7f849c88;
	--red: #f38ba8;
	--orange: #fab387;
	--green: #a6e3a1;
	--yellow: #f9e2af;
	--blue: #89b4fa;
	--purple: #cba6f7;
	--aqua: #94e2d5;
}

.theme-catppuccin {
	--bg: #1e1e2e;
	--bg1: #313244;
	--bg2: #45475a;
	--bg3: #585b70;
	--bg-dark: #181825;
	--bg-shadow: #11111b;
	--fg: #cdd6f4;
	--glow: #7f849c55;
	--border: #7f849c88;
	--red: #f38ba8;
	--orange: #fab387;
	--green: #a6e3a1;
	--yellow: #f9e2af;
	--blue: #89b4fa;
	--purple: #cba6f7;
	--aqua: #94e2d5;
}

.theme-gruvbox {
	--bg: #282828;
	--bg1: #3c3836;
	--bg2: #504945;
	--bg3: #665c54;
	--bg-dark: #1d2021;
	--bg-shadow: #161819;
	--fg: #ebdbb2;
	--glow: #92837455;
	--border: #92837488;
	--red: #fb4934;
	--orange: #fe8019;
	--green: #b8bb26;
	--yellow: #fabd2f;
	--blue: #83a598;
	--purple: #d3869b;
	--aqua: #83c07c;
}

.increased-contrast {
	filter: contrast(1.2) saturate(1.5);
}

html {
	font-size: clamp(14px, 0.9vw, 2vh);
	scroll-behavior: smooth;
}

::placeholder {
	color: var(--fg);
	opacity: 0.5;
}

body {
	font-family: "Fira Code";
	color: var(--fg);

	margin: auto;
	width: auto;

	background-color: var(--bg-dark);
	transition: background-color var(--bg-transition-speed) ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Inconsolata";
}

button,
input,
select {
	text-align: center;
	font-size: inherit;
	font-family: "Fira Code";
	color: var(--fg);
	border-radius: 0.5em;
	border: none;
}

button,
input {
	padding: 0.75em 1.5em;
}

select {
	padding: 0.5em 1em;
	appearance: none;
}

select:focus {
	outline: none;
}

button:hover {
	cursor: pointer;
}

.red-text {
	color: var(--red);
}

.orange-text {
	color: var(--orange);
}

.yellow-text {
	color: var(--yellow);
}

.green-text {
	color: var(--green);
}

.aqua-text {
	color: var(--aqua);
}

.blue-text {
	color: var(--blue);
}

.purple-text {
	color: var(--purple);
}

.weight-450 {
	font-weight: 450;
}

.glow-text {
	text-shadow: 0 0 0.1em var(--glow);
}

.glow-pulse {
	animation: glow-pulse 1s infinite alternate;
}

@keyframes glow-pulse {
	0% {
		text-shadow: 0 0 0.15em var(--glow), 0 0 0.075em var(--glow);
	}

	100% {
		text-shadow: 0 0 0.5em var(--glow), 0 0 0.25em var(--glow), 0 0 0.15em var(--glow);
	}
}

.depth-1 {
	box-shadow:
		inset 0 1px 1px var(--bg3),
		0 1px 2px var(--bg-dark),
		0 0 5px var(--bg-dark);
	background-color: var(--bg1);
	transition-duration: var(--bg-transition-speed);
}

.depth-2 {
	box-shadow:
		inset 0 1.25px 2px var(--bg2),
		0 5px 4px var(--bg-shadow),
		0 0 5px var(--bg-shadow);
	background-color: var(--bg);
	transition-duration: var(--bg-transition-speed);
}

.depth-interactive {
	transition-duration: var(--bg-transition-speed);
}

.depth-interactive:hover {
	box-shadow:
		inset 0 1px 1px var(--bg3),
		0 1px 2px var(--bg-shadow),
		0 0 3px 1px var(--bg-dark);
	background-color: var(--bg2);
	transition-duration: 50ms;
}

input.depth-interactive:hover {
	transition-duration: 200ms;
}

button.depth-interactive:active {
	background-color: var(--bg1);
	box-shadow:
		inset 0 1px 1px var(--bg-shadow),
		inset 0 -1px 1px var(--bg3),
		inset 0 0 3px 1px var(--bg-dark);
	transform: scale(0.99);
}

input.depth-interactive:focus {
	outline: none;
	background-color: var(--bg2);
	box-shadow:
		inset 0 1.5px 1px var(--bg3),
		0 5px 5px var(--bg-shadow),
		0 0 4px 2px var(--bg-shadow);
	transform: scaleY(1.02) scaleX(1.01);
}

.fade-in {
	opacity: 0;
	transform: translateY(2vh);
	animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(2vh);
	}

	100% {
		opacity: 100%;
		transform: translateY(0);
	}
}

.switch {
	position: relative;
	display: inline-block;
	width: 5rem;
	height: 2.5rem;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	inset: 0;
	background-color: var(--bg1);
	transition-duration: 0.4s;
}

.slider::before {
	content: "";
	position: absolute;
	height: 2rem;
	width: 2rem;
	left: 0.25rem;
	top: 0.25rem;
	background-color: var(--fg);
	transition-duration: 0.4s;
}

input:checked+.slider {
	background-color: var(--bg3);
}

input:checked+.slider::before {
	transform: translateX(2.5rem);
}

#hamburger {
	position: fixed;
	top: 1.5rem;
	left: 1.5rem;
	z-index: 11;
	background: none;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	padding: 0;
}

#hamburger span {
	width: 2.75rem;
	height: 0.3rem;
	background-color: var(--fg);
}

/* Nav bar */
#nav-bar {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 5;
	width: 15em;
	height: 100vh;
	gap: 3em;

	background-color: color-mix(in srgb, var(--bg), transparent 15%);
	backdrop-filter: blur(10px);
	box-shadow: inset 0 -5px 15px color-mix(in srgb, var(--bg3), transparent 90%);
	transition: background-color var(--bg-transition-speed);
}

#nav-bar nav {
	display: flex;
	flex-direction: column;
	font-size: 1.2rem;
	margin-top: 6rem;
	gap: 1em;
}

#nav-bar nav a {
	margin: auto 2em;
	text-decoration: none;
	color: var(--fg);
	box-sizing: border-box;
	position: relative;
}

#nav-bar nav a::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: var(--fg);

	transform: translateX(-50%) scaleX(0);
	transform-origin: center;
	transition: transform 150ms ease;
}

#nav-bar nav a:hover::after {
	transform: translateX(-50%) scaleX(1);
}

#high-contrast-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1em;
}

.theme-select {
	font-size: 1em;
	margin: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.75em;
	text-align: center;
}

/* Hero section */
header.hero {
	position: relative;
	display: flex;
	flex-direction: row;
	z-index: 0;
	height: 100vh;
	background-color: var(--bg-dark);
	transition: background-color var(--bg-transition-speed);
}

header.hero::after {
	content: "";
	position: absolute;
	inset: 0;
	background: linear-gradient(to bottom, transparent 85%, var(--bg));
	pointer-events: none;
}

div.hero {
	display: flex;
	flex-direction: column;
	margin: clamp(1em, 5vw, 5em) 0 0 clamp(1em, 5vw, 5em);
	font-size: clamp(20px, 1.1vw, 24px);
	width: 32em;
}

div.hero h1 {
	font-size: 6em;
	margin: 0;
	text-align: left;
}

div.hero p {
	font-size: 1em;
	margin-top: 1em;
}

div.hero h2 {
	font-family: "Fira Code";
	font-weight: 300;
	font-size: 1.3em;
	margin: 2em 0 1em 0;
	position: relative;
	width: max-content;
}

.user-form-container {
	display: flex;
	width: fit-content;
	flex-direction: column;
	align-items: center;
}

#user-form {
	display: flex;
	flex-direction: row;
	font-size: 1em;
	gap: 0.5em;
}

.grid-bg {
	--grid-grap: 60px;
	--dot-size: 2px;
	--line-thickness: 1px;

	position: absolute;
	inset: 0;
	background-size: var(--grid-grap) var(--grid-grap);
	background-image: radial-gradient(circle, var(--bg3) var(--dot-size), transparent var(--dot-size));
	background-attachment: fixed;
	background-position: 0 0;
	mask-image: radial-gradient(circle 200px at var(--cursor-x) var(--cursor-y),
			rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.2) 100%);
	will-change: mask-image;
	z-index: -1;
}

.grid-bg::before {
	content: "";
	position: absolute;
	inset: 0;
	background-size: var(--grid-grap) var(--grid-grap);
	background-image:
		linear-gradient(to right, var(--bg3) var(--line-thickness), transparent var(--line-thickness)),
		linear-gradient(to bottom, var(--bg3) var(--line-thickness), transparent var(--line-thickness));
	background-attachment: fixed;
	--background-offset: calc(var(--grid-grap) / 2 - var(--line-thickness) / 2);
	background-position: var(--background-offset) var(--background-offset);
	mask-image: radial-gradient(circle 150px at var(--cursor-x) var(--cursor-y),
			rgba(255, 255, 255, 0.3) 0%, transparent 100%);
	will-change: mask-image;
}

/* Hero graph animation */
.hero-graph-container {
	--graph-anim-delay: 250ms;

	position: fixed;
	pointer-events: none;
	z-index: -1;
	right: 0;
	bottom: 0;
	width: 65vw;
	min-width: 1000px;
}

.hero-graph-container svg {
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
}

.hero-graph-container svg circle {
	fill: var(--bg3);
	opacity: 0;
	animation: show-circle 200ms ease-out forwards;
}

.hero-graph-container svg circle[data-index="0"] {
	animation-delay: calc(var(--graph-anim-delay) + 0.3s);
}

.hero-graph-container svg circle[data-index="1"] {
	animation-delay: calc(var(--graph-anim-delay) + 0.4s);
}

.hero-graph-container svg circle[data-index="2"] {
	animation-delay: calc(var(--graph-anim-delay) + 0.75s);
}

.hero-graph-container svg circle[data-index="3"] {
	animation-delay: calc(var(--graph-anim-delay) + 0.85s);
}

.hero-graph-container svg circle[data-index="4"] {
	animation-delay: calc(var(--graph-anim-delay) + 1.25s);
}

@keyframes show-circle {
	to {
		opacity: 1;
	}
}

.animated-line {
	stroke-dasharray: 600;
	stroke-dashoffset: 600;
	stroke: var(--bg3);
	stroke-width: 2.5;
	animation: draw-line 1.4s var(--graph-anim-delay) linear forwards;
}

@keyframes draw-line {
	to {
		stroke-dashoffset: 0;
	}
}

.hero-shadow {
	position: absolute;
	z-index: 1;
	inset: 0;
	box-shadow: 0 2px 8px var(--bg1);
	pointer-events: none;
}


main {
	width: 100%;
	background-color: var(--bg-dark);
	position: relative;
	z-index: 0;
	transition-duration: var(--bg-transition-speed);
}

.main-section {
	margin: 0 auto;
	padding: 3rem 0;
	width: 85%;
}

.main-section h1 {
	text-align: center;
	font-size: 3.5rem;
	margin-top: 0;
}

.analytics-grid {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: clamp(400px, 32.5vw, 48.5vh);
	grid-template-areas:
		"user-info solved-ratings solved-ratings"
		"rating-history rating-history solved-tags";
	margin-bottom: 3rem;
}

@media (max-aspect-ratio: 6/5) {
	html {
		font-size: 16px;
	}

	.main-section {
		width: 90%;
	}

	.analytics-grid {
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: 55vh;
		grid-template-areas:
			"user-info solved-tags"
			"solved-ratings solved-ratings"
			"rating-history rating-history";
	}
}

@media (max-aspect-ratio: 4/5) {
	html {
		font-size: 18px;
	}

	header.hero {
		flex-direction: column;
		align-items: center;
		justify-content: start;
		width: 100vw;
		height: 100vh;
	}

	div.hero {
		align-items: center;
		margin: 5em 0 0 0;
		width: 90vw;
		font-size: clamp(24px, 1.5vh, 32px)
	}

	div.hero h1 {
		font-size: 5em;
		text-align: center;
	}

	div.hero p {
		font-size: 1em;
		text-align: center;
	}

	div.hero h2 {
		font-size: 1.25em;
		text-align: center;
		margin: 2em 0 1.5em 0;
	}

	#user-form {
		font-size: 1.25em;
	}

	#user-form button {
		display: none;
	}

	.hero-graph-container {
		display: none;
	}

	.analytics-grid {
		grid-template-columns: 1fr;
		grid-auto-rows: 55vh;
		grid-template-areas:
			"user-info"
			"solved-tags"
			"solved-ratings"
			"rating-history";
	}

	#user-details .analytics-content {
		font-size: 1.25rem;
	}

	#nav-bar {
		display: none;
	}
}

.analytics-container {
	--card-border-radius: 0.8rem;

	display: flex;
	flex-direction: column;
	border-radius: var(--card-border-radius);
	background-color: var(--bg);
	opacity: 0;
	animation-delay: 100ms;
	animation-duration: 500ms;
}

.chart-container {
	position: relative;
	flex: 1;
	min-height: 0;
	max-width: 100%;
	max-height: 100%;
}

.chart-container canvas {
	max-width: 100%;
	max-height: 100%;
	display: block;
}

.analytics-header {
	display: flex;
	justify-content: space-between;
	margin: 1.25em 1.25em 0 1.25em;
}

.analytics-header h2 {
	margin: 0;
}

.user-stats {
	margin: 0;
	padding-left: 15px;
}

#user-title-photo {
	border-radius: 0.5em;
	width: 10em;
	height: auto;
	display: block;
}

div:has(> #user-title-photo) {
	width: fit-content;
	padding: 10px;
	border-radius: 10px;
}

.analytics-content {
	position: relative;
	display: flex;
	min-height: 0;
	flex: 1;
	flex-direction: column;
	padding: 1em 1.5em 1.5em 1.5em;
	margin-top: 0.25em;
}

#user-rating,
#user-peak-rating {
	color: var(--text-color);
	text-shadow: 0 0 1.5px var(--text-color);
}

.loader,
.loader-small {
	position: absolute;
	bottom: 1%;
	left: 1%;
	width: 98%;
	height: 98%;
	background-color: var(--bg);
	border-radius: var(--card-border-radius);
	transition-duration: var(--bg-transition-speed);

	display: flex;
	align-items: center;
	justify-content: center;
}

.loader::after,
.loader-small::after {
	content: "";
	border-radius: 50%;
	animation: spin 1s ease infinite;
}

.loader::after {
	width: 5rem;
	height: 5rem;
	border: 5px solid var(--bg2);
	border-top-color: var(--fg);
}

.loader-small::after {
	width: 1.5rem;
	height: 1.5rem;
	border: 3px solid var(--bg2);
	border-top-color: var(--fg);
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

#performance-loader {
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

#performance-loader p {
	margin: 0;
	font-size: 14px;
}

#performance-loader div {
	position: relative;
}
